.image-panel {
  margin: 7.625rem 3.225rem;
}
.image-panel .image-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}

.image-panel img {
  width: 130px;
  height: 130px;
}
.img-panel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-row img {
  border-radius: 15px;
  box-shadow: 0 0 5px #333;
}

@media(min-width: 420px){
  .image-panel img {
    width: 200px;
    height: 200px;
  }
}

@media(min-width: 900px){
  .image-panel img {
    width: 300px;
    height: 300px;
  }
}
/* Media query for screens larger than 1000px */
@media (min-width: 1275px) {
  .image-panel .image-row {
    grid-template-columns: repeat(4, 1fr);
    margin: 10px auto;
  }
  .image-panel {
    margin: 7.625rem 3.225rem;
  }
}
