.mission-statement {
  margin: 7rem 0 9rem;
  padding: 0 3rem;
  display: flex;
  justify-content: space-evenly;
}
.ms-item {
  flex: 1;
  max-width: 650px;
}

.img-wrapper {
  width: 500px;
}
.img-wrapper img {
  width: 100%;
}
@media (max-width: 1000px) {
  .mission-statement {
    align-items: center;
    gap: 4rem;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .ms-item .img-wrapper {
    max-width: 300px;
  }
  .mission-statement {
    padding: 0 1rem;
  }
}
