footer {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #333;
  color: whitesmoke;
}
footer h4{
  color: whitesmoke;
}

.footer-item {
  flex: 1;
  min-height: 275px;
}
.footer-item:not(:last-child) {
  border-right: 2px solid #444;
}

.footer-item ul {
  list-style: none;
}
.footer-item ul li {
  margin-top: 1.625rem;
}
.footer-item ul li a {
  text-decoration: none;
  color: white;
}

.footer-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.stack-item {
  text-align: center;
  margin: 0 15px;
  min-width: 200px;
}

.stack-item:not(:first-child) {
  border-top: 2px solid #444;
  padding: 1rem;
}

.footer-credits {
  color: white;
  padding: 3rem 2rem 2rem;
  background-color: #222;
}
.footer-credits a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

@media (max-width: 700px) {
  footer {
    flex-direction: column;
    padding: 1rem;
  }

  .footer-item:not(:last-child) {
    border-right: none;
    border-bottom: 2px solid #444;
  }
  .footer-item {
    min-height: fit-content;
    min-width: 250px;
  }

}
