.banner {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Elephant", sans-serif;
  min-height: 300px;
}
.banner h1 {
  font-size: 5.625rem;
  text-shadow: -2px 3px 6px rgba(51, 51, 51, 0.54);
  color: whitesmoke;
}
.banner p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}
.banner-home {
  background-image: url("/banner/banner-home-desktop.jpg");
  background-position: center;
  background-size: cover;
}
.banner-contact {
  background-image: url("/banner/banner-contact-desktop.jpg");
  background-position: center;
  background-size: cover;
}
.banner-about {
  background-image: url("/banner/banner-about-desktop.jpg");
  background-position: center;
  background-size: cover;
}
.banner-gallery {
  background-image: url("/banner/banner-gallery-desktop.jpg");
  background-position: center;
  background-size: cover;
}
.banner-menu {
  background-image: url("/banner/banner-menu-desktop.jpg");
  background-position: center;
  background-size: cover;
}

@media (max-width: 600px) {
  .banner h1 {
    font-size: 3.625rem;
  }
}
